@model IEnumerable<Data.ModelsClass.Sanpham>

@{
    ViewData["Title"] = "list";
}

<h1>list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soluong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trangthai)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id ">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết sản phẩm</a>
                </td>
            </tr>
        }
    </tbody>
</table>
